@model System.Collections.Generic.IEnumerable<News.Models.NewsModel>

@{
    ViewBag.Title = "News Page";
}

<div>
    @foreach (var news in Model) {
        <div>
            @news.Title
        </div>
    }
</div>

<div>
    @if (ViewBag.Page > 1) {
        @Html.ActionLink("<<", "Index", new {Page = ViewBag.Page - 1})
    }

    @if (ViewBag.Page < ViewBag.PageCount) {
        @Html.ActionLink(">>", "Index", new {Page = ViewBag.Page + 1})
    }
</div>